:root {
    --red: #E30914;
    --gray: #353535;
    --yellow: #fdcf00;
    --green: #198754;
}

.header-text {
    font-style: bold;
    font-size: 24pt;
}

.borderless-right{
    border-right: none !important;
    outline:  none !important;
}
.borderless-left{
    border-left: none !important;
    outline:  none !important;
}

.form-control:focus{
  outline:  none !important;
  box-shadow: none !important;
}


.radius-right{
    border-radius: 4px 0 0 4px;
}
.radius-left{
    border-radius: 0 4px 4px 0;
}
.text-muted{
    border-radius: 0 4px 4px 0;
    border-left: none;
    text-align: center;
}

.borderless-left:focus,  .borderless-right:focus{
    outline: none !important;
    box-shadow: none !important;
}

.text-muted i{
    padding: 0;
}


/* spinner animated ----------------- */
.cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
  }

.spinner {
    width: 25px;
    height: 25px;
    border: 4px #ddd solid;
    border-top: 4px #ff4141 solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
  }

  @keyframes sp-anime {
    100% { 
      transform: rotate(360deg); 
    }
  }

  /* End spinner ------------ */

  .content-addr{
    width: 100%;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }

 .not-valid{
    outline: 1px solid red;
    box-shadow: 1px 1px 1px 2px rgba(255, 0, 0, 0.2);
  }
 
  .not-valid:focus{
    border: none;
    outline: 1px solid red !important;
    box-shadow: 1px 1px 1px 2px rgba(255, 0, 0, 0.2) !important;
  }

  .cc-valid{
    border: 1px solid red;
  }
  .cc-valid:focus{
    border: 1px solid red;
  }

  .card-validation{
    font-size: 9pt;
    display: none;
  }
  .card-brand{
    height: 24px;
    width: 60px;
  }

  .input-container{
    position: relative;
    padding:0;
    margin:0;
  }
  #input-img{
    position:absolute;
    bottom:8px;
    right:10px;
    display: none;
  }
  
  .expiry{
      display: flex;
  }
  
  
  @media only screen and (max-width: 600px) {
  
  
  .expiry{
      padding: 15px;
  }
}